header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 92px;
  padding: 10px;

  .logo-img {
    height: 30px;
    width: 66px;
    object-fit: cover;
  }

  .burger-icon {
    width: 40px;
    height: 32px;
  }
}
