<header>
  <a class="logo" routerLink="/"><img (click)="scrollToTop()" class="logo-img" src="/assets/img/logo.svg" alt=""></a>
  <img (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" id="burger-icon" (click)="openDropDownmenu()"
    class="burger-icon" src="/assets/img/burger menu S3.svg" alt="">
  <div id="drop-down" class="drop-down">
    <div class="drop-down-header">
      <a (click)="closeDropDown()" routerLink="/"><img class="logo-img" src="/assets/img/logo.svg" alt=""></a>
      <img (click)="closeDropDown()" src="/assets/img/close_button.svg" alt="">
    </div>
    <div id="menu" class="menu">
      <div class="links">
        <a (click)="closeDropDown()" href="#about-me">About me</a>
        <a (click)="closeDropDown()" href="#skills">My skills</a>
        <a (click)="closeDropDown()" href="#portfolio">Portfolio</a>
        <a (click)="closeDropDown()" href="#contact">Contact me</a>
        <a (click)="closeDropDown()" routerLink="/legal-notice">Legal notice</a>
        <a (click)="closeDropDown()" routerLink="/privacy-policy">Privacy policy</a>
      </div>
    </div>
    <div class="drop-down-footer">
      <div class="drop-down-contact">
        <div>
          <h2>Say Hi!</h2>
          <a href="mailto:mail@ilhan-buenyamin.com">mail&#64;ilhan-buenyamin.com</a>
        </div>
        <div class="drop-down-social">
          <a href="mailto:mail@ilhan-buenyamin.com">
            <img src="/assets/img/Email_icon.svg" alt="">
          </a>
          <a href="https://github.com/BuenyaminIlhan" target="_blank">
            <img src="/assets/img/Github_icon.svg" alt="">
          </a>
          <a href="https://www.linkedin.com/in/b%C3%BCnyamin-ilhan/">
            <img src="/assets/img/LinkedIn-icon.svg" alt="">
          </a>
        </div>

      </div>
    </div>
  </div>
</header>
