<section class="footer-section">
  <div class="arrow">
    <a (click)="scrollToTop()">
      <img src="/assets/img/arrow-top.svg" alt="">
    </a>
  </div>
  <div class="footer">
    <div class="left">
      <a routerLink="/" (click)="scrollToTop()"><img src="/assets/img/logo_white.svg" alt=""></a>
    </div>
    <div class="social-network">
      <div>
        <a href="mailto:ilhan.buenyamin@gmail.com">
          <img src="/assets/img/Email_icon.svg" alt="">
        </a>
        <a href="https://github.com/BuenyaminIlhan" target="_blank">
          <img src="/assets/img/Github_icon.svg" alt="">
        </a>
        <a href="https://www.linkedin.com/in/b%C3%BCnyamin-ilhan/">
          <img src="/assets/img/LinkedIn-icon.svg" alt="">
        </a>
      </div>
    </div>
  </div>
  <div class="private">
    <span>© Bünyamin Ilhan 2023</span>
    <div class="links">
      <a routerLink="/legal-notice">Legal notice </a>
      <span>|</span>
      <a routerLink="/privacy-policy">Privacy policy</a>
    </div>
  </div>
</section>
