<section class="footer">
  <div class="left">
    <a href="#outer"><img src="/assets/img/logo_white.svg" alt=""></a>
    <span>© Bünyamin Ilhan 2023</span>
  </div>
  <div class="social-network">
    <div>
      <a href="mailto:ilhan.buenyamin@gmail.com"><img src="/assets/img/Email_icon.svg" alt=""></a>
      <a href="https://github.com/BuenyaminIlhan" target="_blank"><img src="/assets/img/Github_icon.svg" alt=""></a>
      <img src="/assets/img/LinkedIn-icon.svg" alt="">
    </div>
    <div class="private">
      <a href="#">Legal notice </a>
      <span href="#">|</span>
      <a href="#">Privacy policy</a>
    </div>
  </div>
</section>
