<section class="footer">
  <div class="left">
    <img src="/assets/img/logo_white.svg" alt="">
    <span>© Bünyamin Ilhan 2023</span>
  </div>
  <div class="social-network">
    <div>
      <img src="/assets/img/Email_icon.svg" alt="">
      <img src="/assets/img/Github_icon.svg" alt="">
      <img src="/assets/img/LinkedIn-icon.svg" alt="">
    </div>
    <div class="private">
      <a href="#">Legal notice </a>
      <span href="#">|</span>
      <a href="#">Privacy policy</a>
    </div>
  </div>
</section>
