.footer {
  padding: 0 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
}

.arrow {
  padding: 0 150px 16px 150px;
  display: flex;
  justify-content: end;
  background-color: black;
}

.private {
  padding: 16px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  span,
  a {
    color: white;
  }
}

.links {
  display: flex;
  gap: 10px;

  a {
    border-bottom: 1px solid black;
    padding-bottom: 4px;
    &:hover {
      color: #ff9900;
      text-decoration: none;
      border-bottom: 1px solid #ff9900;
    }
  }
}

.social-network {
  div {
    display: flex;
    margin-bottom: 24px;
    gap: 10px;
    justify-content: flex-end;

    img {
      cursor: pointer;
      transition: 115ms ease-in-out;
      &:hover {
        transform: translateY(-10px);
      }
    }
  }
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  img {
    width: 66px;
    height: 30px;
    object-fit: cover;
    margin-bottom: 24px;
    transition: 115ms ease-in-out;
    cursor: pointer;

    &:hover {
      scale: 1.1;
    }
  }
}

@media (max-width: 1200px) {
  .footer {
    padding: 0 100px;
  }
  .private {
    padding: 16px 100px;
  }
}

@media (max-width: 900px) {
  .footer {
    padding: 0 50px;
  }

  .private {
    padding: 16px 50px;

  }
}

@media (max-width: 625px) {
  .private a,
 span {
    font-size: 14px;
  }

  .footer {
    padding: 0 16px;
  }

  .private {
    padding: 16px;
    padding-block-end: 18px;
  }
}
