<section class="about-me-container">
  <div class="left">
    <h2>About me</h2>
    <p>I am a German, Turkish, and English-speaking web developer with experience in building web applications using
      JavaScript and Angular.
    </p>
    <p>
      I gained my first insights into programming through JavaScript books. In combination with YouTube tutorials, I was
      able to create my own small projects. Programming was not only fun, but also allowed me to bring my creativity to
      the screen. Therefore, alongside my main job, I took the step to begin my IT journey at a professional software
      development school in Germany, where I developed several front-end projects both individually and in groups.
    </p>
    <p>
      My next goal is to become part of a programming team and take future projects to the next level. Now, I am looking
      for a new challenge where I can apply my learned skills and continue to grow as a junior developer. Feel free to
      visit my public portfolio, which includes responsive websites and business applications.
    </p>
    <div>
      <button class="btn">Let's talk</button>
    </div>
  </div>
  <div class="right">
    <img src="/assets/img/Profil_Bild.jpg" alt="">
    <img class="arrow-left" src="/assets/img/Arrow-left.svg" alt="">
  </div>
</section>
