<section id="about-me" class="about-me-container">
  <div class="left">
    <h2>About me</h2>
    <p>I am a passionate web and app developer, driven by creativity and a love for crafting digital solutions. My journey began with JavaScript books and YouTube tutorials, which gave me my first insights into programming and motivated me to build my own projects. For me, it wasn’t just a challenge – it was an opportunity to bring my ideas to life and make them visible on screen.
    </p>
    <p>
      This passion for programming led me to take the next step: I decided to attend a professional software development school in Germany. There, I deepened both my individual skills and my ability to collaborate in teams, working on numerous exciting frontend projects. </p>
    <p>
      But my journey didn’t stop there. I wanted to broaden my skill set further and chose to retrain as an app developer. Native platforms like iOS with Swift and Android with Kotlin fascinated me, and I specialized in developing innovative, user-friendly apps.</p>
    <p>But my journey didn’t stop there. I wanted to broaden my skill set further and chose to retrain as an app developer. Native platforms like iOS with Swift and Android with Kotlin fascinated me, and I specialized in developing innovative, user-friendly apps.</p>
    <p>Now, I’m ready for the next big challenge: I want to be part of a creative development team, working on cutting-edge projects and further developing my skills as a junior developer. For me, it’s important not just to code, but to create real value through my work – for both the team and the users.</p>  
    <p>Take a look at my public portfolio – here you’ll find not only responsive websites and business applications, but also native mobile apps developed with passion and dedication. I’m excited to bring my creativity and commitment to new, exciting projects.</p>
    <div>
      <a href="#contact"><button class="btn">Let's talk</button></a>
    </div>
  </div>
  <div class="right">
    <img src="/assets/img/Profile_2.jpg" alt="">
    <div>
      <img class="arrow-left" src="/assets/img/Arrow-left.svg" alt="">
    </div>
  </div>
</section>
