h1 {
  font-family: "Syne", sans-serif;
  font-size: calc(10px + 7vw);
  font-weight: 800;
  margin: 0;
  text-align: center;
}

.line {
  background-color: black;
  height: 4px;
  width: 100%;
}

.name-container {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 8px;

  span {
    font-size: calc(20px + 2vw);
    color: #ff9900;
    font-weight: 700;
    white-space: nowrap;
  }
}

.outer-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 24px;
  left: 150px;
  right: 150px;
}

.line-vertical {
  background-color: #ff9900;
  height: 100px;
  width: 4px;
}

.main-footer-mail {
  transform: rotate(270deg);
  transform-origin: left top;
  bottom: 0;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;

  span {
    font-size: 24px;
    cursor: pointer;
  }
}

.line-scroll-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;

  span {
    font-size: 24px;
    cursor: pointer;
  }
}


@media (max-width:1200px) {
  h1 {
    font-size: 56px;
  }

  .main-footer {
    left: 100px;
    right: 100px;
  }
}
