<div  id="outer" class="outer-container">
  <div>
  <h1>
    Frontend<br>Developer
  </h1>
  <div class="name-container">
    <div class="line"></div>
    <span>Bünyamin Ilhan</span>
  </div>
</div>
</div>
<div class="main-footer">
  <div class="main-footer-mail">
    <a href="mailto:ilhan.buenyamin@gmail.com"><span>ilhan.buenyamin@gmail.com</span></a>
  </div>
  <div class="line-scroll-container">
    <div class="line-vertical">
      <div class="white-point"></div>
    </div>
    <a href="#about-me"><span>Scroll<br>Down</span></a>
  </div>
</div>
