<section class="skills" id="skills">
  <div class="icon-container">
    <div class="skills-headline">
      <h2>My skills</h2>
    </div>
    <div class="icons">
      <div>
        <img src="/assets/img/swift.png" alt="">
        <span>Swift</span>
      </div>
      <div>
        <img src="/assets/img/Kotlin.png" alt="">
        <span>Kotlin</span>
      </div>
      <div>
        <img src="/assets/img/Angular.svg" alt="">
        <span>Angular</span>
      </div>
      <div>
        <img src="/assets/img/TypeScript.svg" alt="">
        <span>TypeScript</span>
      </div>
      <div>
        <img src="/assets/img/JavaScript.svg" alt="">
        <span>JavaScript</span>
      </div>
      <div>
        <img src="/assets/img/HTML.svg" alt="">
        <span>HTML</span>
      </div>
      <div>
        <img src="/assets/img/CSS.svg" alt="">
        <span>CSS</span>
      </div>
      <div>
        <img src="/assets/img/Firebase.svg" alt="">
        <span>Firebase</span>
      </div>
      <div>
        <img src="/assets/img/Git.svg" alt="">
        <span>Git</span>
      </div>
      <div>
        <img src="/assets/img/Scrum.svg" alt="">
        <span>Scrum</span>
      </div>
      <div>
        <img src="/assets/img/API.svg" alt="">
        <span>REST-Api</span>
      </div>
      <div>
        <img src="/assets/img/MaterialDesign.svg" alt="">
        <span>Material-<br>Design</span>
      </div>
    </div>
  </div>
  <div class="arrow-right">
    <img src="/assets/img/Arrow-right.svg" alt="">
  </div>
</section>
