<section class="portfolio">
  <h2>Portfolio</h2>
  <p>This page is a sample of my work - please feel free to try them out.</p>
  <div class="join-container">
    <div class="left">
      <img src="/assets/img/Join.svg" alt="">

  </div>
  <div class="right">
    <span>01/05</span>
    <div>
      <h3>Join</h3>
    </div>
    <span>JavaScript | HTML | CSS</span>
    <p>Task manager inspired by the Kanban Sytem. Create and organize tasks using drag and drop functions, assign
      users and categories.</p>
    <div class="btn-container">
      <button class="btn">LiveDemo</button>
      <button class="btn">GitHub</button>
    </div>
  </div>
</div>
</section>
