.portfolio {
  padding-top: 150px;
  h2 {
    text-align: center;
  }
  p {
    font-size: 24px;
    text-align: center;
  }
}

.sharkie {
  .project-description-side {
    span {
      justify-content: flex-start;
    }
  }
}

.arrow-down-sharkie {
  left: -24px;

  &:hover {
    transform: rotate(150deg) !important;
  }
}

.join-container,
.sharkie,
.pokedex {
  display: flex;
  gap: 20px;
  padding-bottom: 50px;
  height: 400px;
}

.project-contain {
  display: none;
}

.project-img-side {
  display: flex;
  align-items: flex-end;
  height: 350px;
}

.project-img-side,
.project-description-side {
  width: 50%;

  img {
    object-fit: cover;
    object-position: top left;
    transition: 115ms ease-in-out;
    height: 300px;
    width: 100%;

    &:hover {
      filter: grayscale(0);
    }
  }

  p {
    font-size: 16px;
    text-align: left;
  }

  span {
    font-size: 36px;
    font-family: "Syne", sans-serif;
    font-weight: 700;
  }

  h3 {
    font-size: 44px;
    font-family: "Syne", sans-serif;
    font-weight: 800;
  }
}

.border {
  position: relative;
  transition: border 115ms ease-in-out;
}

.arrow-down {
  top: 45%;
  display: flex;
  position: absolute;
  right: -24px;
  width: 50px !important;
  height: 50px !important;
  display: none;

  &:hover {
    transform: rotate(-150deg);
  }
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.index {
  display: flex;
  justify-content: end;
}

.arrow-container {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 1200px) {
  .project-img-side,
  .project-description-side {
    h3 {
      font-size: 30px;
    }
    span {
      font-size: 24px;
    }
  }
}

@media (max-width: 1100px) {
  .join-container,
  .pokedex {
    flex-direction: column;
    align-items: center;
  }

  .sharkie {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 450px;
  }

  .project-contain {
    display: block !important;
  }

  .arrow-container {
    flex-direction: column;

    img {
      height: auto;
    width: 200px;
    }
  }
}
