<section class="portfolio" id="portfolio">
  <div>
    <h2>Portfolio</h2>
    <p>This page is a sample of my work - please feel free to try them out.</p>
  </div>
  <div class="join-container" (mouseenter)="onMouseEnter(0)" (mouseleave)="onMouseLeave(0)">
    <div class="project-img-side">
      <div class="border" [style.border]="isHovered[0] ? '4px solid black' : '4px solid transparent'">
        <img src="/assets/img/Join-Kanban.PNG" alt="" [style.filter]="isHovered[1] ? 'grayscale(0)' : 'grayscale(0.7)'">
        <img class="arrow-down" src="./assets/img/arrow-down.svg" alt=""
        [style.display]="isHovered[0] ? 'block':'none'"
        [style.transform]="isHovered[0] ? 'rotate(-150deg)':'rotate(0deg)'">
      </div>
    </div>
    <div class="project-description-side">
      <span class="index">01/03</span>
      <div id="project-contain" class="project-contain" [style.display]="isHovered[0] ? 'block' : 'none'">
        <div>
          <h3>Join</h3>
        </div>
        <span>JavaScript | HTML | CSS</span>
        <p>Task manager inspired by the Kanban Sytem. Create and organize tasks using drag and drop functions, assign
          users and categories.</p>
        <div class="btn-container">
          <a href="https://ilhan-buenyamin.com/Join-Kanban/" target="_blank"><button class="btn">LiveDemo</button></a>
          <a href="https://github.com/BuenyaminIlhan/Join-Kanban" target="_blank"><button
              class="btn">GitHub</button></a>
        </div>
      </div>
    </div>
  </div>
  <div class="sharkie"(mouseenter)="onMouseEnter(1)" (mouseleave)="onMouseLeave(1)">
    <div class="project-description-side">
      <span class="index">02/03</span>
      <div id="project-contain" class="project-contain" [style.display]="isHovered[1] ? 'block' : 'none'">
        <div>
          <h3>Sharkie</h3>
        </div>
        <span>JavaScript | HTML | CSS</span>
        <p>Embark on a simple game driven by an object-oriented approach. Join Sharkie's adventure to uncover poisons
          and
          take on the enraged Shark End Boss.</p>
        <div class="btn-container">
          <a href="https://ilhan-buenyamin.com/Sharkie/" target="_blank"><button class="btn">LiveDemo</button></a>
          <a href="https://github.com/BuenyaminIlhan/Sharkie" target="_blank"><button class="btn">GitHub</button></a>
        </div>
      </div>
    </div>
    <div class="project-img-side">
      <div class="border" [style.border]="isHovered[1] ? '4px solid black' : '4px solid transparent'">
        <img src="/assets/img/Sharkie.svg" alt="" [style.filter]="isHovered[1] ? 'grayscale(0)' : 'grayscale(0.7)'">
        <img class="arrow-down arrow-down-sharkie" src="./assets/img/arrow-down.svg" alt=""
        [style.display]="isHovered[1] ? 'block':'none'"
        [style.transform]="isHovered[1] ? 'rotate(150deg)':'rotate(0deg)'">
      </div>
    </div>
  </div>
  <div class="pokedex"(mouseenter)="onMouseEnter(2)" (mouseleave)="onMouseLeave(2)">
    <div class="project-img-side">
      <div class="border" [style.border]="isHovered[2] ? '4px solid black' : '4px solid transparent'">
        <img src="/assets/img/Pokedex.PNG" alt="" [style.filter]="isHovered[2] ? 'grayscale(0)' : 'grayscale(0.7)'">
        <img class="arrow-down" src="./assets/img/arrow-down.svg" alt=""
        [style.display]="isHovered[2] ? 'block':'none'"
        [style.transform]="isHovered[2] ? 'rotate(-150deg)':'rotate(0deg)'">
      </div>
    </div>
    <div class="project-description-side">
      <span class="index">03/03</span>
      <div id="project-contain" class="project-contain" [style.display]="isHovered[2] ? 'block' : 'none'">
        <div>
          <h3>Pokédex</h3>
        </div>
        <span>JavaScript | API | HTML | CSS </span>
        <p>Based on the PokéAPI a simple library that provides and catalogues pokémon information.</p>
        <div class="btn-container">
          <a href="https://ilhan-buenyamin.com/Pokedex/" target="_blank"><button class="btn">LiveDemo</button></a>
          <a href="https://github.com/BuenyaminIlhan/Pokedex" target="_blank"><button class="btn">GitHub</button></a>
        </div>
      </div>
    </div>
  </div>
  <div class="arrow-container">
    <img src="/assets/img/Arrow-left.svg" alt="">
  </div>
</section>
