.wrapper {
  padding: 0 150px;
}

.content {
  height: calc(100vh - 225.67px);
  display: flex;
  align-items: center;
}

h2 {
  font-size: 32px;
}

@media (max-width: 825px) {
  .wrapper {
    padding: 0 50px;
  }
  h2 {
    font-size: 28px;
  }
}

@media (max-width: 625px) {
  .wrapper {
    padding: 0 16px;
  }
  h2 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
}
